*{
    margin:0;
    padding: 0;
}
body{
    height:100vh;
    width:100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#myVideo {
    position: fixed;
    right: 0;
    z-index: -1;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
